<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon_app"
        android:label="@string/app_name" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".UI.WelcomeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".UI.BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HocTapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.ThongKeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.XepLoaiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.CauHoiHaySai"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.ThongKeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.BienBaoGridview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.BienBaoSwitcher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HocLuatActivity_Chuong"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HocLuatActivity_Dieu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HocDeThiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.CauHoiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HuongDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.ThiThuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.KetQuaMotAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.XemLaiBaiThi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.LuocSu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.About"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.MeoThi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".UI.HuongDanLamBai"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>